<!DOCTYPE html>
<html ng-app="LunchCheck">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>AngularJS module1 solution.</title>
  </head>
  <body>
    <h1>AngularJS module1 solution.</h1>
    <div ng-controller="LunchCheckController">
      <div>
      enter your daily meals:
      </div>
      <div>
      <input type="text" ng-model="meals">
      </div>
      <div>
        <button type="button" ng-click="checkMeals()">Calculate daily Carbs</button>
      </div>
      <div>
        {{message}}
      </div>


    </div>

  </body>
</html>
